<div class="register-wrapper">
  <div class="register-header">
    <nz-avatar nzIcon="user-add" nzSize="large"></nz-avatar>
    <div class="title">
      <p class="headline">{{ 'register.title' | translate }}</p>
      <p class="sub">{{ 'register.subtitle' | translate }}</p>
    </div>
  </div>

  <form (ngSubmit)="submitForm()" [formGroup]="signinForm" class="form-container" nz-form>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>{{ 'common.name' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'register.nameRequired' | translate">
        <input formControlName="name" id="name" nz-input placeholder="Ex: Ednilson Chiziane"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Email inválido.">
        <input formControlName="email" id="email" nz-input placeholder="ex: nome@email.com" type="email"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>{{ 'common.phone' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'register.phoneRequired' | translate">
        <nz-input-group nzAddOnBefore="+258">
          <input
            (blur)="normalizePhone()"
            formControlName="phone"
            id="phone"
            inputmode="numeric"
            nz-input
            placeholder="84xxxxxxx"/>
        </nz-input-group>
        <div class="hint">O número será guardado como +258 seguido do teu contacto.</div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired>Login</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'register.loginRequired' | translate">
        <input formControlName="login" id="login" nz-input placeholder="Ex: ednilson"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{ 'auth.login.password' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'register.passwordRequired' | translate">
        <nz-input-group [nzSuffix]="passwordSuffixTpl">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            id="password"
            nz-input
            [placeholder]="'register.passwordPlaceholder' | translate"/>
        </nz-input-group>

        <ng-template #passwordSuffixTpl>
          <span (click)="togglePasswordVisibility()" class="password-toggle">
            <nz-icon [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'" nzTheme="outline"></nz-icon>
          </span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>Função</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Selecione a função.">
        <nz-select formControlName="role" id="role" [nzPlaceHolder]="'register.select' | translate">
          <nz-option [nzLabel]="'layout.roles.admin' | translate" nzValue="ADMIN"></nz-option>
          <nz-option [nzLabel]="'layout.roles.manager' | translate" nzValue="MANAGER"></nz-option>
          <nz-option [nzLabel]="'layout.roles.operator' | translate" nzValue="OPERATOR"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="14" [nzXs]="24">
        <button [disabled]="signinForm.invalid || isLoading" nz-button nzType="primary">
          <span *ngIf="!isLoading">{{ 'register.submit' | translate }}</span>
          <span *ngIf="isLoading" class="loading">
            <nz-spin nzSize="small"></nz-spin>
            A registar...
          </span>
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>
